ion-toolbar {
  --background: rgb(255, 255, 255);
}

ion-content, ion-card{
  background-color: white;
}

.service{
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

  p{
    color: rgb(2, 2, 2);
    font-size: 1.3em;
    margin-left: 5%;
  }
}

.service1{
  width: 20%;
  border-radius: 10%;
  margin-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
