<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cleaning Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [routerLink]="['/home-clean']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (1).png" />
      <p>
        Home Cleaning
      </p>
    </ion-card>
  </div>

  <div [routerLink]="['/clean-service']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (2).png" />
      <p>
        Furniture Cleaning
      </p>
    </ion-card>
  </div>

  <div [routerLink]="['/clean-service']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (3).png" />
      <p>
        Deep Clean
      </p>
    </ion-card>
  </div>

  <div [routerLink]="['/clean-service']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (4).png" />
      <p>
        Office Cean
      </p>
    </ion-card>
  </div>

  <div [routerLink]="['/clean-service']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (5).png" />
      <p>
        Move in/Move Out Cleaning
      </p>
    </ion-card>
  </div>

  <div [routerLink]="['/clean-service']">
    <ion-card class="service">
      <img alt="service1" class="service1" src="../../../assets/img/cleanService (6).png" />
      <p>
        Car Wash at Home
      </p>
    </ion-card>
  </div>

</ion-content>
