<ion-content>
          <img
            src="../../../assets/img/2147704427-min.webp"
            alt="logo"
            loading="lazy"
          />
          <ion-card-header>
            <ion-card-title> We are glad to have you here. Please login or Signup to complete your booking

            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

          <ion-item>

            <ion-input  label="Telephone input" type="tel" placeholder="888-888-8888"></ion-input>
          </ion-item>
            <ion-button  shape="round" color="danger" [routerLink]="['/pages/home']"> Continue </ion-button>
          </ion-card-content>
</ion-content>
