<ion-header>
  <ion-toolbar>
    <div class="service">
      <div class="backButton" [routerLink]="['/home-clean']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <div class="homeTitle">
        <ion-title>Home Cleaning</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-size: 0.7em; color: rgb(0, 163, 109);">
    Step 2 of 4
  </p>
  <p style="font-weight: bold;">
    People also added
  </p>

  <div class="scrollmenu">
    <div class="card">
      <img src="../../../assets/img/homeCleaning (1).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon color="" slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/homeCleaning (2).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/homeCleaning (3).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/homeCleaning (4).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/homeCleaning (5).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/homeCleaning (6).png" alt="Denim Jeans" style="width:100%">
      <p class="title">Party Cleaning</p>
      <p class="content">Some text .</p>
      <p class="price">$19.99</p>
      <p class="addButton">
        <ion-button size="small" shape="round">
          <ion-icon slot="end" name="add"></ion-icon>
          Add
        </ion-button>
      </p>
    </div>

  </div>

  <div class="alert">
    <span class="add">Add</span>
   Any specific instructions?
  </div>
</ion-content>

<ion-footer>
  <div class="footerService">
    <div>
      <div style="font-size: 0.9em;">Total</div>
      <div>AED 78.00</div>
    </div>
    <div [routerLink]="['/data-time']">
      <ion-button shape="round" size="default" style="color: white;">
        Next
      </ion-button>
    </div>
  </div>
</ion-footer>
